@use "Styles/Variables";

.contact-page {
  width: 100%;
  font-family: var(--font-funnel-display);
  &>.bounded-content {
    margin-top: var(--header-height);
    & .contact-form {
      width: 100%;
      max-width: 500px;
      margin: auto;
      @include Variables.center;
      flex-direction: column;
      margin-top: 3em;
      gap: 1.5em;
      margin-bottom: 5em;
      @media (min-width: 1300px) {
        flex-direction: row;
        max-width: unset;
        align-items: flex-start;
        margin-top: 5em;
        gap: 2.5em;
      }
      & > div {
        font-size: 1.5em;
        text-align: center;
        @media (min-width: 1300px) {
          text-align: left;
        }
        &>p {
          line-height: 1.5;
          margin: 0.5em 0;
          &:first-of-type {
            @media (min-width: 1300px) {
              margin-top: 0;
            } 
          }
          &:last-of-type {
            @media (min-width: 1300px) {
              font-size: 1.25em;
            }
          }
        }
      }
      & form {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        width: 100%;
        & *  {
          max-width: unset;
        }
        &>button {
          font-size: 1.1em;
        }
      }
    }
  }
}