.page-heading {
  margin: 0;
  line-height: 0.75;
  text-align: center;
  letter-spacing: -0.025em;
  user-select: none;
  font-size: min(16vh, 21vw, 120px);
  font-family: var(--font-monte-carlo);
  text-shadow: 0.05em 0.05em 0em #fff;
}