@use "Styles/Variables";

.panel.checkout {
  & .padded {
    & .input {
      width: 100%;
      max-width: unset;
      --border-color: #d0cece;
      --label-color: #252424;
      @media (min-width: 957px) {
        width: 50%;
      }
      & > span {
        font-weight: 300;
      }
      &>.input-error {
        color: var(--red);
        font-size: 0.9em;
        max-height: 0px;
        opacity: 0;
        animation: expand 0.5s forwards;
      }
    }
  }
  & form {
    margin-bottom: 14em;
  }
}
  
@keyframes expand {
  0% {
    max-height: 0;
    opacity: 0;
  }
  65% {
    opacity: 0;
    max-height: 1em;
  }
  100% {
    opacity: 1;
    max-height: 1em;
  }
}