@use 'Styles/Variables';

.bottom-sheet.book-a-workshop {
  font-family: var(--font-funnel-display);
  &>div {
    @media (min-width: 670px) {
      max-width: 550px;
    }
    & .sheet-scroll-view {
      overscroll-behavior: contain;
    }
  }
  & .closer {
    top: 1em;
    right: 1em;
    position: absolute;
  }
  & h2 {
    font-size: 1.75em;
    text-align: center;
  }
  & form {
    width: 90%;
    max-width: 400px;
    margin: auto;
    @include Variables.center;
    flex-direction: column;
    margin-bottom: 2em;
    gap: 1em;
    & button {
      width: 100%;
      font-size: 1.1em;
    }
  }
}