.gallery {
  margin-bottom: 3em;
  & p {
    text-align: center;
    font-family: var(--font-funnel-display);
    font-size: max(min(3.5vh, 5vw), 1.15em);
    font-weight: 300;
    margin-bottom: 3em;
  }
  & .images {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 3em;
    @media (min-width: 670px) {
      gap: 1em;
    }
    @media (min-width: 957px) {
      gap: 1.5em;
    }
    &>div {
      width: calc(50% - 0.5em);
      border-radius: 0.5em;
      overflow: hidden;
      padding: 0.25em;
      box-shadow: 0em 0.2em 0.3em rgba(#000, 0.1);
      &:hover > img {
        scale: 1.1;
      }
      @media (min-width: 670px) {
        width: calc(33.33333% - 0.6666em);
      }
      @media (min-width: 957px) {
        width: calc(33.33333% - 1em);
        padding: 0.5em;
      }
      &>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: scale 1s;
        overflow: hidden;
        border-radius: 0.35em;
      }
    }
  }
  & a {
    width: max-content;
    margin: 3em auto 0;
    font-size: 1.25em;
    @media(min-width: 670px) {
      font-size: 1.5em;
    }
  }
}